<div class="product-details-container" [ngClass]="{ popupShown: isPopupOpen$ | async }">
  <main>
    <div class="back-button-container">
      <p>
        <a class="back-btn" routerLink="/order-online/store">Back to Store</a>
      </p>
    </div>
    <div class="content-container">
      <section class="images-browser">
        <div class="selected-image">
          <img src="{{itemDetails.images[0]}}" alt="" />
        </div>

        <div class="option-images">
          <div class="option-image" *ngFor="let image of itemDetails.images">
            <img src="{{image}}" alt="Product Image" />
          </div>
        </div>
      </section>

      <section class="product-details">
        <div class="details-header">
          <h2 class="type">{{itemDetails.type}}</h2>
          <span class="price">{{itemDetails.price}}€</span>
          <p class="description">
            {{itemDetails.description}}
          </p>
          <p class="excessive-description">
            {{itemDetails.excessivedescription}}
          </p>
        </div>
        <div class="add-product-form">
          <form action="" class="form">
            <div class="quantity-wrapper">
              <span class="quantity">Quantity</span>
              <div class="form-body">
                <span class="increment btn-left" (click)="decrement()">
                  <i class="icon">-</i>
                </span>
                <input type="text" class="quantity-input" inputmode="numeric" min="1" max="5" #quantityInput readonly
                  [value]="quantityValue" />
                <span class="decrement btn-right" (click)="increment()">
                  <i class="icon">+</i>
                </span>
              </div>
            </div>
            <div class="quanRange" *ngIf="showQuantRange">
              <p class="red">The available quantities range between 1 and 5. Thank you :) !</p>
            </div>
            <div class="form-actions">
              <button type="button" class="submit-btn" (click)="addToCart(itemDetails, quantityInput.value)">
                Add to cart
              </button>
            </div>
          </form>
        </div>
      </section>
    </div>
  </main>
</div>

<ng-container *ngIf="isPopupOpen$ | async">
  <app-products-popup class="product-popup" [item]="itemDetails" [quantity]="quantityValue"></app-products-popup>
</ng-container>