<div
  class="product-details-container"
  [ngClass]="{ popupShown: isPopupOpen }"
>
  <main>
    <div class="back-button-container">
      <p>
        <a class="back-btn" routerLink="order-online/store">Back to Store</a>
      </p>
    </div>
    <div class="content-container">
      <section class="images-browser">
        <div class="selected-image">
          <img src="../assets/order-online/sandwiches.JPG" alt="" />
        </div>

        <div class="option-images">
          <div class="option-image">
            <img src="../assets/order-online/sandwiches.JPG" alt="" />
          </div>
          <div class="option-image">
            <img src="../assets/order-online/merch.JPG" alt="" />
          </div>

          <div class="option-image">
            <img src="../assets/order-online/cookies.JPG" alt="" />
          </div>

          <div class="option-image">
            <img src="../assets/order-online/IMG_1116.JPG" alt="" />
          </div>
        </div>
      </section>

      <section class="product-details">
        <div class="details-header">
          <h2 class="type">Cookies Picnic Box</h2>
          <span class="price">15€</span>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tenetur
            est facere iusto nihil, similique quia repellendus vitae inventore,
            deserunt hic? Quas ea earum eaque, ab quae dolores laudantium
            laboriosam!
          </p>
          <p class="excessive-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            saepe alias, facilis quae veniam harum cumque quasi quia fugiat sit
            optio voluptatum dolorum ullam fuga quos odit deleniti molestias
            facere? Asperiores, reprehenderit. Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Saepe, a aspernatur. Facere
            doloremque quod aliquam a voluptate commodi, quam aliquid distinctio
            voluptates eos et saepe provident minima officiis molestias
            veritatis?
          </p>
        </div>
        <div class="add-product-form">
          <form action="" class="form">
            <div class="quantity-wrapper">
              <span class="quantity">Quantity</span>
              <div class="form-body">
                <span class="increment btn-left" (click)="decrement()">
                  <i class="icon">-</i>
                </span>
                <input
                  type="text"
                  class="quantity-input"
                  inputmode="numeric"
                  #quantityInput
                  [value]="quantityValue"
                />
                <span class="decrement btn-right" (click)="increment()">
                  <i class="icon">+</i>
                </span>
              </div>
            </div>
            <div class="form-actions">
              <button type="button" class="submit-btn" (click)="addToCart(quantityInput.value)">Add to cart</button>
            </div>
          </form>
        </div>
      </section>
    </div>
  </main>
</div>

<ng-container *ngIf="isPopupOpen">
  <app-products-popup class="product-popup"></app-products-popup>
</ng-container>
