<div class="checkout-section">
    <main>
        <h1>Your Cart</h1>
        <p class="itm-count">{{itemsCount$ | async}} Items</p>
        <div class="checkout-content">
            <!-- Item card -->
            <div class="item-box" *ngFor="let item of cartItems$ | async">
                <div class="img-con">
                    <img [src]="item.images[0]" alt="Product Image">
                </div>
                <div class="cont-con">
                    <div class="type-rem">
                        <p class="desc">{{item.title}}</p>
                        <div class="rem-ico">
                            <!-- TODO add a real icon -->
                            <span (click)="deleteItem(item.slug)">X</span>
                        </div>
                    </div>
                    <!-- TODO add {{item.color}} -->
                    <p class="spec">
                        <ng-container *ngIf="item.color; else showPieces">
                            {{ item.color }}
                        </ng-container>
                        <ng-template #showPieces>
                            {{ item.pieces && item.quantity ? item.pieces * item.quantity : '' }}psc
                        </ng-template>
                    </p>
                    <div class="numeric">
                        <div class="quantity-con">
                            <button class="itm" (click)="decrement(item.slug)">-</button>
                            <label class="itm" for="">{{item.quantity}}</label>
                            <button class="itm" (click)="increment(item.slug)">+</button>
                        </div>
                        <p class="price">EUR {{item.price && item.quantity ? (item.price * item.quantity).toFixed(2)
                            :''}}</p>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>