.checkout-section {
    margin-bottom: 60px;
    padding-top: 40px;
}

main {
    text-align: center;
}

.item-box {
    display: flex;
    gap: 1rem;
    height: 220px;
    margin: 24px;
    padding: 1rem;
    border: 1px solid rgb(222 222 222);
}

.cont-con {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
}

.img-con {
    max-width: 136px;
}

.img-con img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.type-rem {
    display: flex;
    justify-content: space-between;
}

.spec {
    font-size: 0.7rem;
}


.numeric {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    font-family: 'Brown';
}

.itm {
    padding: 0.4rem;
    font-family: 'Brown';
}


.price {
    font-weight: 600;
}

.rem-ico {
    padding-left: 10px;
    cursor: pointer;
}

@media screen and (min-width: 400px) {
    .img-con {
        max-width: 160px;
    }

    .cont-con {
        text-align: left;
        padding-left: 30px;
    }

    .numeric {
        flex-direction: row;
        justify-content: space-between;
    }

    .spec {
        font-size: 0.9rem;
    }

    .desc,
    .numeric {
        font-size: 1.2rem;
    }
}


@media screen and (min-width: 1024px) {
    .checkout-section {
        padding-top: 200px;
    }

    .item-box {
        padding: 1rem 2rem;
        height: 240px;
    }

    .numeric {
        margin-top: 75px;
        font-size: 1.5;
        flex-direction: row;
        justify-content: space-between;
    }

    .spec {
        font-size: 1.1rem;
    }

    .desc {
        font-size: 1.5rem;
    }
}