.fixed-logo {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  text-wrap: nowrap;
  opacity: 0.9;
  z-index: 50;
}

.fixed-nav {
  position: fixed;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  text-wrap: nowrap;
  opacity: 0.9;
  z-index: 50;
}

.banner-removed-logo {
  top: 56px;
}

.banner-removed-nav {
  top: 176px;
}

.site-logo {
  width: 130px;
  height: auto;
}

.site-nav-menu {
  display: flex;
  gap: 1em;
  padding: 0.2rem 0.6rem;
}

.site-nav-menu a {
  font-size: 0.8rem;
  color: white;
  letter-spacing: 1px;
}

.site-nav-menu a:hover,
.site-nav-menu .activeLink {
  color: var(--accent-color);
  font-size: 0.9rem;
}

.scrolled {
  background-color: rgba(253, 250, 235, 0.9);
}

.scrolled a {
  color: black;
}

.black-header a {
  color: black;
}

.site-nav-submenu {
  position: relative;
}

.sub-menu {
  position: absolute;
  top: 1.8rem;
  left: 0;
  padding: 0.5rem 0.2rem;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: rgba(106, 58, 51, 0.9);
}

.sub-menu a {
  white-space: nowrap;
  font-size: 0.5rem;
}

@media screen and (min-width:1130px) {
  .fixed-logo {
    left: 100px;
  }

  .fixed-nav {
    top: 100px;
    right: 30px;
    left: unset;
    transform: unset;
  }

  .banner-removed-logo {
    top: 56px;
  }

  .banner-removed-nav {
    top: 56px;
  }

}

@media screen and (min-width:1300px) {
  .site-nav-menu a {
    font-size: 0.9rem;
  }

  .site-nav-menu a:hover {
    font-size: 1rem;
  }

  .sub-menu a {
    font-size: 0.6rem;
  }

  .sub-menu a:hover {
    font-size: 0.7rem;
  }
}