<app-site-location class="site-location"></app-site-location>
<!-- THE FIXED ELEMENT LOGO, MENU ICON, LOCATION -->
<div class="logo-menu-wrapper">
  <div class="fixed-logo">
    <div class="logo-nav-wrapper">
      <!-- Logo -->
      <div class="site-logo-container">
        <a routerLink="/home">
          <img class="site-logo" src="./../../../../assets/logo/fox-logo.jpg" alt="The Big Fox Logo" />
        </a>
      </div>
    </div>
  </div>
  <!-- MENU -->
  <nav class="site-nav fixed-nav">
    <ul #nav class="site-nav-menu">
      <li>
        <a routerLink="our-story" routerLinkActive="activeLink">Our Story</a>
      </li>
      <li><a routerLink="menu" routerLinkActive="activeLink">Menu</a></li>
      <li>
        <a routerLink="gift-cards" routerLinkActive="activeLink">Gift Cards</a>
      </li>
      <li>
        <a routerLink="hours-and-location" routerLinkActive="activeLink">Hours & Location</a>
      </li>
      <li class="site-nav-submenu">
        <a class="submenu-button" (click)="toggleSubmenu()">
          Order Online
          <i data-icon="font-awesome" class="fa-solid fa-arrow-down" *ngIf="!isSubMenuShown"></i>
          <i class="fa-solid fa-arrow-up" *ngIf="isSubMenuShown"></i>
        </a>
        <div class="sub-menu" *ngIf="isSubMenuShown">
          <ul>
            <li>
              <a routerLink="order-online/store" routerLinkActive="activeLink" (click)="toggleSubmenu()">Store</a>
            </li>
            <li>
              <a routerLink="order-online/merch" routerLinkActive="activeLink" (click)="toggleSubmenu()">Merch</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a routerLink="events-and-specials" routerLinkActive="activeLink">Our Events & Specials</a>
      </li>
      <li *ngIf="userName; else guest">
        <a routerLink="signup" routerLinkActive="activeLink">Hi, {{userName}} / </a>
        <a (click)="logout()">Logout</a>
      </li>
      <ng-template #guest>
        <li>
          <a routerLink="signup" routerLinkActive="activeLink">Sign Up / Login</a>
        </li>
      </ng-template>
    </ul>
  </nav>
</div>