<section class="login-form">
  <p class="login-heading">Login</p>
  <form #loginForm="ngForm" (ngSubmit)="loginHandler(loginForm)">
    <div class="form-ui">
      <!-- EMAIL -->
      <label for="email">Email
        <span class="required">- Required</span>
      </label>
      <ng-container *ngIf="email.touched">
        <i class="error" *ngIf="email.errors?.['required']">Email is required</i>
        <i class="error" *ngIf="email.errors?.['email']">
          Please, enter a valid email</i>
        <i class="error" *ngIf="email.errors?.['invalidExtension']">
          The email must end with 'bg' or 'com' extension</i>
      </ng-container>
      <input type="text" id="email" name="email" placeholder="Email" ngModel #email="ngModel" required email
        emailValidator />
      <!-- PASSWORD -->
      <label for="password">Password
        <span class="required">- Required</span>
      </label>
      <ng-container *ngIf="password.touched">
        <i class="error" *ngIf="password.errors?.['required']">Password is required</i>
        <i class="error" *ngIf="password.errors?.['minlength']">
          Password must contain at least 8 characters
        </i>
        <i class="error" *ngIf="password.errors?.['appPassword']">Password must contain at least one Uppercase
          letter</i>
      </ng-container>
      <input type="password" id="password" name="password" placeholder="Password" ngModel #password="ngModel" minlength="8"
        required appPassword />
    </div>
    <div class="form-actions">
      <button class="submit-btn" [disabled]="loginForm.invalid">Send</button>
      <p class="message">{{message}}</p>
    </div>
    <p class="register-p">
      Don't have an account? <a routerLink="../register">Register</a>
    </p>
  </form>
</section>