<div class="menu-container">
  <main>
    <app-initial-section [heading]="'Menu'" url="'../assets/menu/IMG_5539.JPG'"></app-initial-section>
    <!-- set background -->
    <div class="blue-content-wrapper">
      <section class="section-1">
        <p class="img-wheat-container">
          <img src="../assets/menu/grain.png" alt="" />
        </p>
        <p>
          You don’t always have to order ahead. If you’re walking through the
          oldest neighbourhood on this side of the river, you’re welcome to stop
          in for a quick treat. We don't offer a lot of seating; but you're
          welcome to enjoy some well-intentioned attempts at small talk with the
          staff, and to linger at the picnic tables in the plaza across the
          alley. We’re unpretentiously brewing coffee that was roasted here in
          Alberta and you can sit and sip for a minute or take it to go.
        </p>
        <p>
          If you're looking to place a pre-order (the best option for guaranteed
          availability), go the
          <a routerLink="order-online">online ordering page here.</a>
        </p>
        <p>
          Here are the kinds of things you’ll find in the shop on a regular “To
          Go” basis:
        </p>
      </section>
    </div>

    <!-- MENU -->
    <div class="background-wrapper">
      <section class="menu-nav">
        <button class="submit-btn btn-drinks" routerLink="menu-drinks" routerLinkActive="activeButton">
          Drinks Menu
        </button>
        <button class="submit-btn btn-bakery" routerLink="menu-bakery" routerLinkActive="activeButton">
          Baked Goods Menu
        </button>
      </section>

      <section class="menu-body">
        <router-outlet></router-outlet>
      </section>
    </div>
    <section class="dynamic-coff-sect">
      <div class="left-cont">
        <p id="time-p">Your time is precious</p>
        <h2 class="h2" appAnimateOnScroll>Choose Quality</h2>
        <p>Make friendships last, by spending time with your friends in our cozy atmosphere.</p>
        <button class="submit-btn" id="explore-more" [routerLink]="'/order-online'">
          Explore more
        </button>
      </div>
      <div class="right-cont">
        <div class="coffee-img-cont" appAnimateOnScroll></div>
        <div class="caffeine-quote">
          <p>Caffeine</p>
          <p>Caffeine</p>
        </div>
      </div>
    </section>
  </main>
</div>