<div class="home-section-mobile">
  <section class="section-images">
    <div class="images-wrapper">
      <img #fadeImg src="../../../assets/home/food/img-1.JPG" alt="" />
      <img #fadeImg src="../../../assets/home/food/img-2.JPG" alt="" />
      <img #fadeImg src="../../../assets/home/food/img-3.JPG" alt="" />
      <img #fadeImg src="../../../assets/home/IMG_1120.JPG" alt="" />
    </div>
    <div class="content-wrapper">
      <div #contentContainer class="content">
        <h2>Coffee Club</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde
          blanditiis consequuntur officiis aut nobis iste ab aliquam rerum
          numquam, ut tempore iusto obcaecati provident atque. Iste inventore
          officia soluta quam?
        </p>
        <div>
          <app-button text="Join the club"></app-button>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="home-section-mobile">
  <section class="section-images">
    <div class="images-wrapper">
      <img #fadeImg src="../../../assets/home/drinks/image-1.JPG" alt="" />
      <img #fadeImg src="../../../assets/home/drinks/image-2.JPG" alt="" />
      <img #fadeImg src="../../../assets/home/drinks/image-3.JPG" alt="" />
      <img #fadeImg src="../../../assets/home/drinks/image-4.JPG" alt="" />
    </div>
    <div class="content-wrapper">
      <div #contentContainer class="content content-drinks">
        <h2>Your Favourites</h2>
        <p>Soft Cappucino prepared by our friendly barista.</p>
        <p>Iced matcha for your hot girl walk, or daily refreshment.</p>
        <p>
          Our Signiture Matcha with hazelnult milk, because that's how the
          asians make their matcha, and its cool.
        </p>
        <p>
          All time favourite Iced Latte, you can hear the ice cubs trumbling.
        </p>
        <div>
          <app-button [navigateTo]="'/menu'" [text]="'Other cool things'"></app-button>
        </div>
      </div>
    </div>
  </section>
</div>
