/* MAP */
:host {
  display: block;
  height: 100%;
  width: 100%;
}
.wrapper {
  border: 1rem solid var(--accent-color);
  position: relative;
}
.map {
  height: 400px;
  width: 100%;
  z-index: 30;
}
.navigate-to {
  display: block;
  width: 160px;
  z-index: 40;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 769px) {
  .map {
    height: 800px;
  }
}
