.site-location {
  text-align: center;
  padding: 0px 8px;
  width: 100%;
}

a {
  letter-spacing: 2.5px;
  font-size: 12px;
  text-transform: uppercase;
  transition: color 0.1s ease-in;
}

a:hover {
  color: #c05033;
}

@media screen and (min-width: 769px) {
  a {
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
  a {
    font-size: 16px;
  }
}