.site-powered-by {
  padding: 10px 0px;
  text-align: center;
}

a {
  letter-spacing: 2.5px;
  font-size: 0.6rem;
  text-transform: uppercase;
  transition: color 0.1s ease-in;
}

a:hover {
  color: #c05033;
}