<div class="menu-container">
  <main>
    <app-initial-section *ngIf="isDesktop; else mobile" [heading]="'Merch'"
      url="'../assets/order-online/merch/merch-desktop.jpeg'"></app-initial-section>
    <ng-template #mobile>
      <app-initial-section [heading]="'Merch'"
        url="'../assets/order-online/merch/merch-mobile.jpeg'"></app-initial-section>
    </ng-template>
    <section class="products-section">
      <ul class="card-list">
        <app-item-list class="card" *ngFor="let item of items" [item]="item"></app-item-list>
      </ul>
    </section>
    <section class="img-coll">
      <div class="img-c">
        <img src="../assets/order-online/merch/interior.JPG" alt="Interior Cafe">
      </div>
      <div class="img-c">
        <img src="../assets/order-online/merch/exterior.JPG" alt="Exterior Cafe">
      </div>
    </section>
    <section class="quote-wr">
      <blockquote class="animateR" appAnimateOnScroll>
        <p><strong>If this is coffee,</strong> please bring me some tea; <strong>but if this is tea,</strong> please
          bring me some coffee.</p>
        <cite>Abraham Lincoln</cite>
      </blockquote>
    </section>
  </main>
</div>
<!-- The content inside the ng-template is not compiled or
inserted into the DOM unless explicitly rendered -->