.mobile-footer {
  display: block;
  position: fixed;
  bottom: 0;
  z-index: 200;
  width: 100%;
  text-align: center;
  padding: 0.4rem 0.9rem;
  background-color:var(--secondary-color);
  outline: 1px solid #fff;
  outline-offset: -3px;
}

.desktop-footer {
  display: none;
}

.desktop-footer-wrapper {
  position: fixed;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  z-index: 200;
  width: 100%;
}

.mobile-footer a {
  font-family: "Lato";
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.socials-wrapper {
  background-color: var(--primary-color);
  padding: 0.73rem;
}

.navigation-wrapper {
  background-color: var(--primary-color);
  padding: 0.45rem;
}

.email-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.submit-btn {
  margin: 0;
}

@media screen and (min-width: 1000px) {
  .mobile-footer {
    display: none;
  }

  .desktop-footer {
    display: block;
  }
}