<div class="footer">
  <!-- MOBILE -->
  <div class="mobile-footer">
    <a href="tel:780-244-2253">Call (780) 244-2253</a>
  </div>
  <!-- DESKTOP -->
  <div class="desktop-footer">
    <div class="content-wrapper">
      <div class="socials-wrapper">
        <app-site-socials></app-site-socials>
      </div>
      <div class="navigation-wrapper">
        <nav>
          <ul class="email-wrapper">
            <li>
              <a routerLink="events-and-specials">Events & Specials</a>
            </li>
            <li>
              <app-button text="Email Signup"></app-button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div>
      <app-powered-by></app-powered-by>
    </div>
  </div>
</div>
