<div class="menu-container">
  <main>
    <app-initial-section [heading]="'Limited - Time Offers'"
      url="'../assets/order-online/IMG_1116.JPG'"></app-initial-section>
    <div class="blue-content-wrapper">
      <section class="section-1">
        <p class="img-cafe-container">
          <img src="../assets/order-online/coffee-shop.png" alt="" />
        </p>
        <p>
          All your limited-time offers, cake-adjacent merch, and back-alley swag
          in one place.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
          reiciendis veritatis saepe sequi ratione, numquam dolores quis error a
          earum illo corporis? Mollitia, praesentium. Vel odio cum recusandae
          quis laboriosam.
        </p>
      </section>
    </div>
    <section class="cards-container">
      <!-- TODO set *ngFor and loop through the items from the database -->
      <ul class="card-list">
        <app-item-list class="card" *ngFor="let item of items" [item]="item"></app-item-list>
      </ul>
    </section>
  </main>
</div>