<div class="admin-dashboard-container">
    <main>
        <app-initial-section [heading]="'Admin Dashboard'"
            [url]="'../assets/admin/coffee-loading.JPG'"></app-initial-section>

        <div class="admin-dashboard-wrapper">
            <section class="statistics-wrapper" *ngIf="!message; else error">
                <div class="statistic popIn" appAnimateOnScroll routerLink="users">
                    <p class="title">Total Users</p>
                    <p class="amount">{{totalUsersCount}}</p>
                    <p class="increase">New users: <span>{{monthlyUsersCount}}</span></p>
                </div>
                <div class="statistic" routerLink="new-admin">
                    <p class="title">Add new Admin</p>
                </div>
                <div class="statistic popIn" appAnimateOnScroll routerLink="delete-admin">
                    <p class="title">Delete Admin</p>
                </div>
                <div class="statistic" routerLink="orders">
                    <p class="title">All orders</p>
                </div>
                <div class="statistic popIn" appAnimateOnScroll routerLink="add-product">
                    <p class="title">Add product</p>
                </div>
                <div class="statistic" routerLink="delete-product">
                    <p class="title">Delete product</p>
                </div>
                <div class="statistic popIn" appAnimateOnScroll routerLink="add-event">
                    <p class="title">Add event</p>
                </div>
                <div class="statistic" routerLink="add-menu-item">
                    <p class="title">Add menu item</p>
                </div>
            </section>
            <ng-template #error>
                <section class="error-section">
                    <p>{{message}}</p>
                    <button class="submit-btn" routerLink="/signup/login">Login</button>
                </section>
            </ng-template>

        </div>
    </main>
</div>