<div class="card">
    <div class="image-slider" [routerLink]="item.slug">
        <div class="slider-wrapper" #sliderWrapper>
            <img *ngFor="let image of item.images" class="slider-image" [src]="image" alt="product-item">
        </div>
        <div class="sizes-wrapper">
            <button id="s" (click)="addToCart(item.slug)">S</button>
            <button id="m" (click)="addToCart(item.slug)">M</button>
            <button id="l" (click)="addToCart(item.slug)">L</button>
        </div>
        <button class="slider-btn prev-btn desktop-only" (click)="prevImg(); $event.stopPropagation()">&lt;</button>
        <button class="slider-btn next-btn desktop-only" (click)="nextImg(); $event.stopPropagation()">&gt;</button>
        <!-- <div class="slider-indicators mobile-only">
            <span class="indicator active"></span>
            <span class="indicator"></span>
        </div> -->
    </div>
    <div class="content">
        <div class="desc-box">
            <h2>{{item.title}}</h2>
            <p class="price">25 €
            <p>
        </div>
        <a (click)="addToCart(item.slug)" class="addCart">
            <img src="../assets/order-online/add-to-cart.png" alt="Add To Cart">
        </a>
    </div>
</div>