<div class="our-story-container">
  <main>
    <app-initial-section [heading]="'Our Story'" url="'../assets/our-story/IMG_1121.JPG'"></app-initial-section>
    <section class="content-initial">
      <h2 class="h2 animate" appAnimateOnScroll>Our main focus is Bringing Joy in Small Things...</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </section>
    <section class="section-1">
      <p class="animateR" appAnimateOnScroll>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est
        voluptatibus consequatur sunt nisi nam, eius placeat totam quam
        dignissimos asperiores eos, aut dolore odio adipisci sint, laudantium
        necessitatibus veritatis vitae!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius id
        similique excepturi velit deserunt animi error, ad natus, veritatis
        architecto odio praesentium ut, ipsum deleniti dignissimos voluptatum
        aspernatur fuga quo. Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Atque est minus laborum cupiditate! Possimus quas explicabo facere
        ullam. Voluptatem magni sapiente nesciunt iure ut reiciendis odio iste,
        dolor dignissimos incidunt?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
        nihil minima provident dolorem reiciendis quam rerum voluptates adipisci
        nobis aut placeat hic saepe doloremque itaque architecto corporis, rem
        labore unde. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Illo voluptates praesentium distinctio, architecto atque, commodi
        numquam eos eveniet fugiat porro excepturi. Et, odio magnam error
        commodi officia beatae corrupti! Voluptatibus.
      </p>
      <p class="align-right animate" appAnimateOnScroll>
        <em>
          "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut,
          incidunt nostrum molestias laudantium, eaque facilis impedit.
          Voluptatem assumenda fugiat id ipsa?""
        </em>
        <em>-Chelsea Todorova(Sept 17, 2024)</em>
        <img class="align-right icon-image" src="../../../assets/our-story/coffee.png" alt="" />
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, nihil
        eius. Doloremque adipisci eum reprehenderit commodi, nisi ducimus nobis
        velit distinctio dolores perspiciatis corporis aliquam, placeat et
        laudantium quibusdam quaerat. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Sint id neque minus nulla nemo vero molestiae, iure
        quisquam ad repellendus et fugiat voluptate ipsum adipisci dolorem cum
        natus excepturi ab.
      </p>
      <p>
        Lorem ipsum dolor sit,Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Dignissimos, suscipit. Dicta dolore, magnam necessitatibus ab
        accusantium praesentium perspiciatis a vero, aliquid magni maiores
        recusandae. Voluptatibus velit cumque molestias nam at. amet consectetur
        adipisicing elit. Rerum, distinctio rem, ducimus quae possimus labore
        blanditiis vitae accusamus laborum, nobis repellat beatae? Adipisci
        pariatur quos sapiente dignissimos. Veniam, eos maiores?
      </p>

      <p class="animateR" appAnimateOnScroll>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat magni
        distinctio dignissimos vero vel facilis unde veniam beatae, quos quam
        asperiores incidunt fugiat eius impedit odio? Voluptates voluptas eos
        temporibus.
      </p>
      <p class="align-right">
        <img src="../../../assets/our-story/breakfast.png" class="icon-image2" alt="" />
      </p>
    </section>
    <section class="end-image-wrapper">
      <div class="background-container">
        <div class="image-container">
          <p>
            <img src="../../../assets/our-story/Your-cappuccino-is-ready-07-08-2024 (1).png" alt="" />
          </p>
        </div>
      </div>
    </section>
  </main>
</div>