<div class="card-container" (touchstart)="toggleFlip($event)" (touchend)="toggleFlip($event)">
  <div class="flip-card">
    <div class="card-front">
      <div class="front-photo">
        <img *ngFor="let image of eventData.images" [src]="image" alt="Event Image" />
      </div>
      <div class="front-text">
        <p>{{eventData.eventName }}</p>
        <p>{{eventData.date | date : "dd/MMM/yyyy" }}</p>
        <p>{{ eventData.time }}</p>
      </div>
    </div>
    <div class="card-back">
      <p class="details">{{eventData.eventInfo}}</p>
    </div>
  </div>
</div>