.site-socials {
  width: 100%;
}

.site-socials ul {
  display: flex;
  justify-content: center;
  gap: 1em;
}

i::before {
  font-size: 20px;
  color: white;
}

.bl-box {
  background-color: black;
  padding: 4px;
}

.bl-box:hover {
  background-color: var(--secondary-color);
}