<div class="site-socials">
    <ul> 
      <li>
        <a href="" aria-label="Twitter">
       <span class="bl-box">
        <i data-icon="font-awesome" class="fa-brands fa-twitter"></i>
       </span>
      </a></li>
      <li>
        <!-- TODO add links -->
        <a href="" aria-label="Instagram">
       <span class="bl-box">
        <i data-icon="font-awesome" class="fa-brands fa-instagram"></i>
       </span>
      </a></li>
      <li>
        <a href="" aria-label="Email">
       <span class="bl-box">
        <i data-icon="font-awesome" class="fa-solid fa-envelope"></i>
       </span>
      </a></li>
      <li>
        <a href="" aria-label="TikTok">
       <span class="bl-box">
        <i data-icon="font-awesome" class="fa-brands fa-tiktok"></i>
       </span>
      </a></li>
    </ul>
</div>