.section-initial {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  outline: 2px solid var(--primary-color);
  outline-offset: -1.2rem;
  opacity: 0.9;
}
.central-items-container {
  margin: 0 auto;
  max-width: 70%;
}
.logo-container {
  z-index: 10;
  margin-top: 35px;
}
.h1 {
  text-align: center;
  color: white;
}
