<div class="hours-and-location-container">
  <main>
    <app-initial-section
      [heading]="'Hours & Location'"
      [url]="'../assets/hours-and-location/IMG_1122.JPG'"
    ></app-initial-section>

    <div class="blue-content-wrapper">
      <section class="section-1">
        <h2>Hours & Location</h2>
        <p>
          <a
            href="https://www.google.com/maps/place/77+Campbell+Parade,+Bondi+Beach+NSW+2026,+%D0%90%D0%B2%D1%81%D1%82%D1%80%D0%B0%D0%BB%D0%B8%D1%8F/@-33.892234,151.262788,15z/data=!3m1!4b1!4m5!3m4!1s0x6b12ad9b9f23a40b:0xc2763486ba6f889d!8m2!3d-33.8922522!4d151.2730877?entry=ttu"
            >CampBell PDE 77 Bondi Beach, Australia</a
          >
        </p>
        <p>We're closed Monday, open in the mornign of Wednesday</p>
        <p>
          Hours change slightly with the seasons, but we update them for you.
        </p>
        <p>
          <strong>Summer </strong>
          <strong>Hours </strong>
          <em>(May 23 - Sep 1)</em>
          <br />Mon/Tues: Closed <br />Wednesday : 9 - 6 <br />Thurs/Fri: 9 - 6
          <br />Friday: 9 - 6 <br />Sat/Sun: 9 - 7
        </p>
        <p>
          During some Holidays & Events, we're open earlier and we don't close
          until 10 minutes after our last customer. Follow us on social media
          and sign up for our newsletter to stay in the loop!
        </p>
      </section>
      <section class="section-2">
        <p class="img-coffee-container">
          <img
            src="../../../assets/hours-and-location/coffee-heart.png"
            alt=""
          />
        </p>
        <p>
          We’re halfway between Meat & the Next Act on 104 Street and The
          Strathcona Hotel on Gateway Blvd, but you won’t find us on the front
          street. The only access to our shop is in the back alley, tucked in
          behind the
          <a
            href="https://www.google.com/search?q=bondi+beach&sca_esv=90f0e14791cac1c8&sca_upv=1&ei=WEe3ZsQjmIrFzw_ondfQDQ&ved=0ahUKEwjEr_rioeqHAxUYRfEDHejOFdoQ4dUDCBE&uact=5&oq=bondi+beach&gs_lp=Egxnd3Mtd2l6LXNlcnAiC2JvbmRpIGJlYWNoMgUQLhiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIUEC4YgAQYlwUY3AQY3gQY4ATYAQFIgQ5Q_gVYugtwAXgAkAEAmAGaAaAB-QSqAQMxLjS4AQPIAQD4AQGYAgWgAoIEwgIHEAAYsAMYHsICBhAAGBYYHsICBxAuGIAEGBPCAggQABgTGBYYHsICFhAuGIAEGBMYlwUY3AQY3gQY4ATYAQGYAwCIBgGQBgq6BgYIARABGBSSBwMyLjOgB6kj&sclient=gws-wiz-serp#eim=CAEQDxoSLTMzLjg5MjM2NzIyNTIxNjg3IgwxNTEuMjc4MDc4NDU"
            >Bondi Beach.</a
          >
        </p>
        <p>
          The alley is occasionally hard to access due to delivery trucks,
          poorly placed road construction signs, and annual, but there is quite
          often a free parking spot right in front of the door. The Old
          Strathcona Farmers' Market parking lot is less than 200m away. Plenty
          of street parking is available throughout the neighborhood.
        </p>
        <p>
          You can also find us on
          <a href="">Instagram,</a>
          <a href="">Twitter</a>
          <a href="">TikTok</a>
          , you can also write us an email or call us at
          <a href="tel:780-244-2253">780-244-2253</a> but we are not great at
          finding where we put the phone.
        </p>
        <p>You are always happily welcomed to come to out Cafè.</p>
      </section>
    </div>

    <div class="maps-location-wrapper">
      <app-map></app-map>
    </div>
    <div class="quotes-wrapper">
      <section class="quote-section">
        <p>
          <em
            >"French pastries are cool and all, but if you’re longing for a
            homey North American experience (pies, cookies,
            bigger-than-your-head-cakes), I would consider sashaying over to
            Sugared & Spiced, a unique bakery crowd-funded by former farmer’s
            market vendor Amy Nachtigall… And if we’re going by degree of
            hidden-ness, then Sugared & Spiced wins the derby because it’s
            LITERALLY HIDDEN IN AN ALLEY-WAY” -
          </em>
        </p>
      </section>
    </div>
  </main>
</div>
