.fixed-logo {
  position: fixed;
  top: 42px;
  left: 19px;
  padding-right: 20px;
  opacity: 0.8;
  z-index: 100;
}

.fixed-nav {
  position: fixed;
  top: 80px;
  right: 21px;
  z-index: 160;
  background-color: var(--primary-color);
  opacity: 0.8;
  padding: 5px 9px;
}

.banner-removed-logo {
  top: 0;
}


.banner-removed-nav {
  top: 40px;
}

.site-logo {
  width: 120px;
  height: auto;
}



.nav-toggle-btn i {
  font-size: 1.6rem;
  transition: color 0.1s ease-in;
}


.site-location-wrapper {
  margin-top: 105px;
}

.site-header-mobile {
  width: 100%;
  height: 100%;
  padding: 20px 18px 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 150;
  overflow: scroll;
  background-color: var(--primary-color);
}

.site-header-mobi-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  padding-top: 3.5rem;
  overflow: auto;
}

.site-nav {
  margin-bottom: 1.5rem;
}


.site-nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  padding-bottom: 35px;
  border-bottom: 1px solid var(--accent-color);
}

.site-nav-menu a {
  font-size: 1.2rem;
  text-align: center;
}

.site-nav-submenu {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  text-align: center;
}

.sub-menu {
  text-transform: uppercase;
}

.site-nav-submenu ul a {
  font-size: 0.8rem;
}

.socials {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.submenu-btn {
  padding-bottom: 10px;
}

/* colors  */
a,
i {
  transition: color 0.1s ease-in;
}

a:hover,
i:hover,
.submenu-btn:hover i {
  color: #c05033;
}

.activeLink {
  color: #c05033;
}

.submenu-btn-active,
.submenu-btn-active i {
  color: #c05033;
}

@media screen and (min-width: 768px) {
  .site-header-mobile {
    font-size: 20px;
  }

  .site-location-wrapper {
    margin-top: 120px;
  }

  .nav-toggle-btn i {
    font-size: 2rem;
  }
}