<!-- THE FIXED ELEMENT LOGO, MENU ICON, LOCATION -->
<div class="logo-nav-fixed" *ngIf="isShown === 'up'">
  <div class="logo-nav-wrapper">
    <!-- Logo -->
    <div class="site-logo-container">
      <a href="/">
        <img
          class="site-logo"
          src="./../../../../assets/logo/fox-logo.jpg"
          alt="The Big Fox Logo"
        />
      </a>
    </div>
    <!-- Menu button -->
    <button class="nav-toggle-btn">
      <i
        data-icon="font-awesome"
        class="fa-solid fa-bars"
        (click)="toggleMainMenuDown()"
      ></i>
    </button>
  </div>
</div>
<app-site-location class="site-location"></app-site-location>

<!-- THE MENU -->
<div class="site-header-mobile" [@slideDownUp]="isShown">
  <!-- DropDown Navigation -->
  <div class="close-icon">
    <i
      data-icon="font-awesome"
      class="fa-solid fa-x"
      (click)="toggleMainMenuUp()"
    ></i>
  </div>
  <div class="site-header-mobi-panel">
    <nav class="site-nav">
      <ul class="site-nav-menu">
        <li><a routerLink="our-story">Our Story</a></li>
        <li><a routerLink="menu">Menu</a></li>
        <li><a routerLink="gift-cards">Gift Cards</a></li>
        <li class="site-nav-submenu">
          <a class="submenu-button isActive" (click)="toggleSubMenu()">
            Order Online
            <i
              data-icon="font-awesome"
              class="fa-solid fa-arrow-down"
              *ngIf="!isSubMenuShown"
            ></i>
            <i class="fa-solid fa-arrow-up" *ngIf="isSubMenuShown"></i>
          </a>
          <div class="sub-menu" *ngIf="isSubMenuShown">
            <ul>
              <li><a routerLink="order-online-store">Store</a></li>
              <li>
                <a routerLink="order-online-store">Signiture Coffee</a>
              </li>
              <li>
                <a routerLink="order-online-bakery">Signiture Baked Goods</a>
              </li>
              <li><a routerLink="order-online-cake">The Coffee Cake</a></li>
              <li><a routerLink="order-online-merch">Merch</a></li>
            </ul>
          </div>
        </li>
        <li><a routerLink="hours-and-location">Hours & Location</a></li>
        <li><a routerLink="events-and-specials">Our Events & Specials</a></li>
        <li><a routerLink="signup">Sign Up / Login</a></li>
      </ul>
    </nav>
    <app-site-socials></app-site-socials>
    <app-site-location></app-site-location>
    <app-powered-by></app-powered-by>
  </div>
</div>
