<section class="digital-card-container">
  <form id="form" #digitalForm="ngForm" (ngSubmit)="addToCart(digitalForm)">
    <div class="form-header">
      <h2>Digital Gift Cards</h2>
    </div>
    <div class="cards-design-wrap">
      <div class="design" *ngFor="let design of cardDesigns">
        <label for="design"> {{design.title}}</label>
        <div class="design-img-wrap">
          <img [src]="design.images[0]" alt="Card Design">
          <img [src]="design.images[1]" alt="Card Design">
        </div>
        <i class="error" *ngIf="cardDesign.errors?.['required']">
          Please, select a design
        </i>
        <input class="radio-input" type="radio" name="design" [value]="design.title" ngModel #cardDesign="ngModel"
          required>
      </div>
    </div>
    <div class="form-uni-group">
      <!-- GROUP ONE -->
      <div class="group">
        <!-- AMOUNT -->
        <label for="amount">
          <span>Select Amount <span class="required"> - Required</span></span>
        </label>
        <ng-container *ngIf="amountSelect.touched">
          <i class="error" *ngIf="amountSelect.errors?.['required']">
            Please, select a valid amount
          </i>
        </ng-container>
        <div class="has-icon">
          <select name="amount" id="amount" #selectAmount ngModel #amountSelect="ngModel" required>
            <option value="" disabled selected>Select Amount</option>
            <option value="15">$15</option>
            <option value="25">$25</option>
            <option value="50">$50</option>
            <option value="80">$80</option>
            <option value="100">$100</option>
          </select>

          <span class="icon-right" (click)="toggleSelect(selectAmount)">
            <i data-icon="font-awesome" class="fa-thin fa-chevron-down" style="color: #cfd4de"></i>
          </span>
        </div>
        <!-- RECIPIENTS NAME -->
        <label for="recipName">
          <span>Recipient's Name <span class="required"> - Required </span></span>
        </label>
        <ng-container *ngIf="recipNameInput.touched">
          <i class="name error" *ngIf="recipNameInput.errors?.['required']">Recipient Name is required</i>
          <i class="error" *ngIf="recipNameInput.errors?.['minlength']">Recipient's Name must be at least 4 characters
            long</i>
        </ng-container>
        <input class="input" type="text" name="recipName" id="recipient-name" placeholder="Recipient's Name"
          #recipNameInput="ngModel" ngModel required minlength="4" />
        <!-- RECIPIENTS EMAIL -->
        <label for="recipEmail" *ngIf="!isChecked">
          <span>Recipient's Email <span class="required"> - Required </span></span>
          <ng-container *ngIf="recipEmail.touched">
            <i class="error" *ngIf="recipEmail.errors?.['required']">Recipient's Email is required</i>
            <i class="error" *ngIf="recipEmail.errors?.['email']">
              Please, enter a valid email
            </i>
          </ng-container>
          <input class="input" type="text" name="recipEmail" id="recipient-email" placeholder="Recipient's Email"
            ngModel #recipEmail="ngModel" required email />
        </label>
        <!-- EMAIL CHECKBOX -->
        <label for="emailCheckbox">
        </label>
        <input class="input-checkbox" type="checkbox" id="email-checkbox" name="emailCheckbox" ngModel
          [(ngModel)]="isChecked">
        <p class="email-checkbox">
          Email the gift to me so I can print it and give it in-person.
        </p>
      </div>
      <!-- GROUP TWO -->
      <div class="group2">
        <!-- YOUR NAME -->
        <label for="your-name">
          <span>Your Name <span class="required"> - Required </span></span>
        </label>
        <ng-container *ngIf="yourName.touched">
          <i class="error" *ngIf="yourName.errors?.['required']">Your Name is required</i>
          <i class="error" *ngIf="yourName.errors?.['minlength']">Your Name must be at least 2 characters
            long</i>
        </ng-container>
        <input class="input" type="text" name="your-name" id="your-name" placeholder="Your Name" #yourName="ngModel"
          ngModel minlength="2" />
        <!-- YOUR EMAIL -->
        <label for="yourEmail">
          <span>Your Email <span class="required"> - Required </span></span>
        </label>
        <ng-container *ngIf="yourEmail.touched">
          <i class="error" *ngIf="yourEmail.errors?.['required']"> Email is required</i>
          <i class="error" *ngIf="yourEmail.errors?.['email']">
            Please, enter a valid email
          </i>
        </ng-container>
        <input class="input" type="text" name="yourEmail" id="your-email" placeholder="Your Email" #yourEmail="ngModel"
          ngModel required email />

        <!-- YOUR MESSAGE -->
        <label for="yourMess">
          <span>Your Message <span class="optional"> - Optional </span></span>
        </label>
        <textarea type="text" name="yourMess" id="your-mess" placeholder="Your Message" maxlength="250"
          #yourMess="ngModel" ngModel></textarea>
        <div class="count-container">
          <span class="pull-right">0/250</span>
        </div>
      </div>
    </div>

    <!-- FORM ACTIONS -->
    <div class="form-actions">
      <button class="submit-btn" [disabled]="digitalForm.invalid">
        Add to cart
      </button>
      <br />
    </div>

    <!-- FORM FOOTER -->
    <div class="form-footer">
      <p>
        If you have any problems with your Gift Card creation, don't be shy to
        contact us.
      </p>
      <p>(780) 244-2253</p>
    </div>
  </form>
</section>