<div class="add-product-container">
    <main>
        <div class="back-button-container">
            <p>
                <a class="back-btn" routerLink="/admin-dashboard">Back to Dashboard</a>
            </p>
        </div>
        <div class="form-container">
            <p class="heading">Add A New Product</p>
            <p class="sub-heading">First select the type of the product</p>
            <form class="add-product-form" #addProductForm="ngForm" (ngSubmit)="addProduct(addProductForm)"
                enctype="multipart/form-data">
                <div class="form-ui">
                    <div class="images-container">
                        <h4 class="h4">Product Images</h4>
                        <!-- Images -->
                        <label for="images">Product Images
                            <span class="required">- Required</span>
                        </label>
                        <ng-container *ngIf="images.touched">
                            <i class="error" *ngIf="images.errors?.['required']">Product Type is required</i>
                        </ng-container>
                        <div class="preview-container">
                            <img *ngFor="let img of imagesArray" [src]="img" class="preview-img">
                        </div>
                        <input id="image-input" type="file" name="images" accept="image/*" multiple ngModel
                            #images="ngModel" required (change)="previewImages($event)" />
                        <button class="delete-btn" (click)="removeSelectedFiles()">Delete all selected Files</button>
                    </div>


                    <div class="info-container">
                        <h4 class="h4">Product Information</h4>
                        <!-- Type -->
                        <label for="productType">
                            Select the Product Type
                            <span class="required">- Required</span>
                        </label>
                        <ng-container *ngIf="productType.touched">
                            <i class="error" *ngIf="productType.errors?.['required']">Product Type is required</i>
                        </ng-container>
                        <select name="productType" id="productType" ngModel #productType="ngModel" required>
                            <option value="" disabled selected hidden>Select product type</option>
                            <option value="merch">Merch</option>
                            <option value="food">Food/Drink</option>
                        </select>
                        <!-- Title -->
                        <label for="title">Product Title
                            <span class="required">- Required</span>
                        </label>
                        <ng-container *ngIf="title.touched">
                            <i class="error" *ngIf="title.errors?.['required']">Product Title is required</i>
                        </ng-container>
                        <input type="text" id="title" name="title" placeholder="Product Title" ngModel #title="ngModel"
                            required />
                        <!-- Slug -->
                        <label for="slug">Slug
                            <span class="required">- Required</span>
                        </label>
                        <ng-container *ngIf="slug.touched">
                            <i class="error" *ngIf="slug.errors?.['required']">Slug is required</i>
                        </ng-container>
                        <input type="text" id="slug" name="slug" placeholder="Slug" ngModel #slug="ngModel" required />
                        <!-- Description -->
                        <label for="description">Product Description
                            <span class="required">- Required</span>
                        </label>
                        <ng-container *ngIf="description.touched">
                            <i class="error" *ngIf="description.errors?.['required']">Product Description is
                                required</i>
                        </ng-container>

                        <input type="text" id="description" name="description" placeholder="Description" ngModel
                            #description="ngModel" required />
                        <!-- Full Description -->
                        <label for="fullDescription">Product Full Description
                            <span class="required">- Required</span>
                        </label>
                        <ng-container *ngIf="fullDescription.touched">
                            <i class="error" *ngIf="fullDescription.errors?.['required']">Product Full Description is
                                required</i>
                        </ng-container>
                        <input type="text" id="fullDescription" name="fullDescription" placeholder="Full Description"
                            ngModel #fullDescription="ngModel" required />

                        <!-- Price -->
                        <label for="price">Price
                            <span class="required">- Required</span>
                        </label>
                        <ng-container *ngIf="price.touched">
                            <i class="error" *ngIf="price.errors?.['required']">Product Price is required</i>
                        </ng-container>
                        <input type="number" id="price" name="price" placeholder="10.99" ngModel #price="ngModel"
                            required />

                        <!-- SPECIFIC FOR MERCH -->
                        <!-- Materials -->
                        <div class="merch-specific" *ngIf="productType.value === 'merch'">
                            <label for="materials">Materials
                                <span class="required">- Required</span>
                            </label>
                            <ng-container *ngIf="materials.touched">
                                <i class="error" *ngIf="materials.errors?.['required']">Product Materials are
                                    required</i>
                            </ng-container>
                            <input type="text" id="materials" name="materials" placeholder="Material" ngModel
                                #materials="ngModel" required />
                            <!-- Size -->
                            <label for="size">Size
                                <span class="required">- Required</span>
                            </label>
                            <ng-container *ngIf="size.touched">
                                <i class="error" *ngIf="size.errors?.['required']">Size is required</i>
                            </ng-container>
                            <input type="text" id="size" name="size" placeholder="Size" ngModel #size="ngModel"
                                required />
                            <!-- Color -->
                            <label for="price">Color
                                <span class="required">- Required</span>
                            </label>
                            <ng-container *ngIf="color.touched">
                                <i class="error" *ngIf="color.errors?.['required']">Color is required</i>
                            </ng-container>
                            <input type="text" id="color" name="color" placeholder="Color" ngModel #color="ngModel"
                                required />
                        </div>
                        <!-- SPECIFIC FOR FOOD/DRINKS -->
                        <div class="food-specific" *ngIf="productType.value === 'food'">
                            <!-- Ingredients -->
                            <label for="ingredients">Ingredients
                                <span class="required">- Required</span>
                            </label>
                            <ng-container *ngIf="ingredients.touched">
                                <i class="error" *ngIf="ingredients.errors?.['required']">Ingredients are required</i>
                            </ng-container>
                            <input type="text" id="ingredients" name="ingredients" placeholder="Ingredients" ngModel
                                #ingredients="ngModel" required />
                            <!-- Pieces -->
                            <label for="pieces">Pieces
                                <span class="required">- Required</span>
                            </label>
                            <ng-container *ngIf="pieces.touched">
                                <i class="error" *ngIf="pieces.errors?.['required']">Ingredients are required</i>
                            </ng-container>
                            <input type="number" id="pieces" name="pieces" placeholder="Pieces" ngModel
                                #pieces="ngModel" required />
                        </div>
                    </div>

                </div>

                <div class="form-actions">
                    <button class="submit-btn">Add</button>
                    <p class="message">{{message}}</p>
                </div>

            </form>
        </div>
    </main>
</div>