.shopping-cart {
    position: fixed;
    z-index: 100;
    right: 10px;
    top: 40px;
    width: 110px;
    height: 36px;
    font-size: 0.9rem;
    background-color: #c65234;
    padding: 0.5rem 1rem;
    text-align: center;
    cursor: pointer;
}

.shopping-cart p {
    color: white;
}

@media screen and (min-width:768px) {
    .shopping-cart {
        right: 40px;
    }
}