.menu-container {
  margin-bottom: 40px;
}

.blue-content-wrapper {
  border: 1rem solid var(--accent-color);
  text-align: center;
  padding: 4.6rem 0.9rem;
}

.section-1 h2 {
  margin-bottom: 1rem;
}

.section-1 p,
.section-1 a {
  margin: 0 auto;
  max-width: 800px;
}


.img-cafe-container img {
  margin: 1.5rem auto;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.card {
  height: 400px;
  padding: 0 1rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.error {
  font-size: 2rem;
  color: #d9534f;
}

@media screen and (min-width: 500px) {
  .card {
    height: 450px;
    flex: 0 1 50%;
  }

  .card-list {
    justify-content: start;
  }
}

@media screen and (min-width: 768px) {
  .card {
    height: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .section-1 p {
    font-size: 1.3rem;
  }

  .card {
    flex: 0 1 33%;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    flex: 0 1 25%;
  }
}