<div class="menu-container">
  <main>
    <app-initial-section [heading]="'Limited - Time Offers'"
      url="'../assets/order-online/IMG_1116.JPG'"></app-initial-section>
    <div class="blue-content-wrapper">
      <section class="section-1">
        <p class="img-cafe-container">
          <img src="../assets/order-online/coffee-shop.png" alt="" />
        </p>
        <div class="animate" appAnimateOnScroll>
        <p>
          All your limited-time offers, cake-adjacent merch, and back-alley swag
          in one place.
        </p>
        <p>
          Planning a sunny day out? We’ve got your picnic basket cravings covered. From freshly baked cakes to our
          signature cookies box, from hand-stacked sandwich selections to delightful little extras—Big Fox Coffee brings
          the goodness straight to your blanket.
        </p>
        <p>We have everything you need for a wholesome picnic 🌿🥪🍰</p>
      </div>
      </section>
    </div>
    <section class="cards-container">
      <div class="message" *ngIf="message; else list">
        <p class="error">{{message}}</p>
      </div>
      <ng-template #list>
        <div class="card-list">
          <app-item-list class="card" *ngFor="let item of items" [item]="item"></app-item-list>
        </div>
      </ng-template>
    </section>
  </main>
</div>