<div class="signup-container">
  <section class="signup-intro">
    <h1 class="h1">Email Signup</h1>
    <p>
      Want to stay up to date with our new cool things, or our events? Sign up
      with your email. We send out a newsletter, but not so often that you'll
      get annoyed. It will contain interesting stuff, pictures you wish you
      could taste, our aesthetic and most importantly our upcoming little
      events. Join our community :)
    </p>
  </section>

  <section class="signup-nav">
    <button class="submit-btn" id="login-btn" routerLink="login">Login</button>
    <button class="submit-btn" id="register-btn" routerLink="register">
      Register
    </button>
  </section>

  <router-outlet></router-outlet>
</div>
