<div class="signup-container">
  <section class="signup-intro">
    <h1 class="h1" appAnimateOnScroll>Email Signup</h1>
    <p appAnimateOnScroll class="expl">
      Enter the family.
      Here, coffee isn’t just a drink—it’s a ritual, a conversation starter, a reason to slow down and share a moment.
      Whether you’re grabbing your usual, trying something new, or just stopping by to soak in the aroma, you belong
      here.

      When you sign up, you’re not just creating an account—you’re pulling up a chair to our table. You’ll get the
      inside scoop on upcoming events, sneak peeks at new blends, and little surprises along the way. Because great
      coffee is best enjoyed with great company—and that’s what we are.

      So, make yourself at home. We’re always brewing something special just for you. ☕✨
    </p>
    <div class="beans-back" aria-hidden="true"></div>
  </section>

  <section class="signup-nav">
    <button class="submit-btn" id="login-btn" routerLink="login">Login</button>
    <button class="submit-btn" id="register-btn" routerLink="register">
      Register
    </button>
  </section>
</div>
<router-outlet></router-outlet>