<div class="home-container">
  <main>
    <app-initial-section [url]="'../../../assets/home/IMG_1105.JPG'" [isHome]="true"></app-initial-section>
    
    <section class="section-welcome">
      <h2>Welcome to The Big Fox Cafe</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit killo arege
        amosis.
      </p>
    </section>

    <home-main-desktop *ngIf="isDesktop; else mobile"></home-main-desktop>
    <ng-template #mobile>
      <home-main-mobile></home-main-mobile>
    </ng-template>
  </main>
</div>