<div class="popup-wrapper">
  <aside class="popup-box" [@popupAnimation]="isPopupOpen ? 'visible' : 'hidden'">
    <div class="details">
      <div class="col">
        <img [src]="currItem.images?.[0]" alt="" />
      </div>
      <div class="col col-2">
        <button class="close" (click)="closePopup()">
          <i data-icon="font-awesome" class="fa-solid fa-x"></i>
        </button>
        <h2>{{currItem.title}}</h2>
        <p class="quantity">Items: {{currItem.quantity}}</p>
        <p class="price">{{currItem.price * currItem.quantity}}$</p>
      </div>
    </div>

    <div class="actions">
      <button class="submit-btn" (click)="closePopup()">Continue shopping</button>
      <a class="submit-btn" routerLink="/checkout" (click)="closePopup()">Checkout</a>
    </div>
  </aside>
</div>