<section class="register-form">
  <p id="register-heading">Register</p>
  <form [formGroup]="registerForm" (ngSubmit)="registerHandler()">
    <div class="form-ui">
      <label for="first-name">
        <span>First Name <span class="required">- Required</span></span>
        <ng-container *ngIf="registerForm.get('firstName')?.touched">
          <i class="error" *ngIf="checkError('firstName', 'required')"
            >First Name is required</i
          >
          <i class="error" *ngIf="checkError('firstName', 'minlength')">
            First Name must be at least 4 characters long
          </i>
        </ng-container>
        <input
          type="text"
          id="first-name"
          name="first-name"
          placeholder="First Name"
          formControlName="firstName"
        />
      </label>

      <label for="last-name">
        <span>Last Name <span class="required">- Required</span></span>
        <ng-container *ngIf="registerForm.get('lastName')?.touched">
          <i class="error" *ngIf="checkError('lastName', 'required')"
            >Last Name is required</i
          >
          <i class="error" *ngIf="checkError('lastName', 'minlength')">
            Last Name must be at least 4 characters long
          </i>
        </ng-container>
        <input
          type="text"
          id="last-name"
          name="last-name"
          placeholder="Last Name"
          formControlName="lastName"
        />
      </label>
      <label for="email">
        <span>Email <span class="required">- Required</span></span>
        <ng-container *ngIf="registerForm.get('email')?.touched">
          <i class="error" *ngIf="checkError('email', 'required')"
            >Email is required</i
          >
          <i class="error" *ngIf="checkError('email', 'email')">
            Please, enter a valid email
          </i>
          <i
            class="country error"
            *ngIf="checkError('email', 'invalidExtension')"
          >
            The email must end with 'bg' or 'com' extension</i
          >
        </ng-container>
        <input
          type="text"
          id="email"
          name="email"
          placeholder="Email"
          formControlName="email"
        />
      </label>
      <div class="passwords-group" formGroupName="passGroup">
        <label for="password">
          <span>Password <span class="required">- Required</span></span>
          <ng-container *ngIf="registerForm.get('passGroup.password')?.touched">
            <i
              class="error"
              *ngIf="checkError('passGroup.password', 'required')"
              >Password is required</i
            >
            <i
              class="error"
              *ngIf="checkError('passGroup.password', 'passNotValid')"
            >
              Password must contain at least 7 characters including one capital
              letter and two digits
            </i>
          </ng-container>
          <input
            type="text"
            id="password"
            name="password"
            placeholder="Password"
            formControlName="password"
          />
        </label>
        <label for="rep-password">
          <span>Repeat Password <span class="required">- Required</span></span>
          <ng-container
            *ngIf="registerForm.get('passGroup.rePassword')?.touched"
          >
            <i
              class="error"
              *ngIf="checkError('passGroup.rePassword', 'required')"
              >Repeat Password is required</i
            >
            <i
              class="error"
              *ngIf="checkError('passGroup.rePassword', 'passNotValid')"
            >
              Please, enter a valid Repeat Password
            </i>
            <i class="error" *ngIf="checkError('passGroup', 'notMatching')"
              >Passwords not matching</i
            >
          </ng-container>
          <input
            type="text"
            id="rep-password"
            name="rep-password"
            placeholder="Repeat Password"
            formControlName="rePassword"
          />
        </label>
      </div>
    </div>
    <div class="form-actions">
      <button class="submit-btn" [disabled]="registerForm.invalid">Send</button>
    </div>
    <p class="login-p">
      Already have an account? <a routerLink="../login">Login</a>
      <!-- going one route up with '../login' -->
    </p>
  </form>
</section>
