<section class="register-form">
  <p id="register-heading">Register</p>
  <form class="form" #registerForm="ngForm" (ngSubmit)="registerHandler(registerForm)">
    <div class="form-ui">
      <!-- FIRST NAME -->
      <label for="firstName">First Name
        <span class="required">- Required</span>
      </label>
      <ng-container *ngIf="firstName.touched">
        <i class="error" *ngIf="firstName.errors?.['required']">First Name is required</i>
        <i class="error" *ngIf="firstName.errors?.['minlength']">
          First Name must be at least 4 characters long
        </i>
      </ng-container>
      <input type="text" id="first-name" name="firstName" placeholder="First Name" ngModel #firstName="ngModel" required
        minlength="2" />
      <!-- LAST NAME -->
      <label for="lastName">Last Name
        <span class="required">- Required</span>
      </label>
      <ng-container *ngIf="lastName.touched">
        <i class="error" *ngIf="lastName.errors?.['required']">Last Name is required</i>
        <i class="error" *ngIf="lastName.errors?.['minlength']">
          Last Name must be at least 4 characters long
        </i>
      </ng-container>
      <input type="text" id="last-name" name="lastName" placeholder="Last Name" ngModel #lastName="ngModel" required
        minlength="2" />
      <!-- EMAIL -->
      <label for="email">Email
        <span class="required">- Required</span>
      </label>
      <ng-container *ngIf="email.touched">
        <i class="error" *ngIf="email.errors?.['required']">Email is required</i>
        <i class="error" *ngIf="email.errors?.['email']">
          Please, enter a valid email
        </i>
        <i class="error" *ngIf="email.errors?.['invalidExtension']">
          The email must end with 'bg' or 'com' extension</i>
      </ng-container>
      <input type="text" id="email" name="email" placeholder="Email" ngModel #email="ngModel" required email />
      <div class="passwords-group">
        <!-- PASSWORD -->
        <label for="password">Password
          <span class="required">- Required</span>
        </label>
        <ng-container *ngIf="password.touched">
          <i class="error" *ngIf="password.errors?.['required']">Password is required</i>
          <i class="error" *ngIf="password.errors?.['minlength']">
            Password must contain at least 8 characters
          </i>
          <i class="error" *ngIf="password.errors?.['appPassword']">Password must contain at least one Uppercase
            letter</i>
        </ng-container>
        <input type="text" id="password" name="password" placeholder="Password" ngModel #password="ngModel"
          minlength="8" required appPassword />
        <!-- RE PASSWORD -->
        <label for="rePassword">Repeat Password
          <span class="required">- Required</span>
        </label>
        <ng-container *ngIf="rePassword.touched">
          <i class="error" *ngIf="rePassword.errors?.['required']">Repeat Password is required</i>
          <i class=" error" *ngIf="rePassword.errors?.['appPassword']">
            Repeat password must contain at least one Uppercase
            letter
          </i>
          <i class="error" *ngIf="rePassword.errors?.['appPassMatching']">Passwords not matching</i>
        </ng-container>
        <input type="text" id="rep-password" name="rePassword" placeholder="Repeat Password" ngModel
          #rePassword="ngModel" required minlength appPassword appPassMatching />
      </div>
    </div>
    <div class="form-actions">
      <button class="submit-btn" [disabled]="registerForm.invalid">Send</button>
    </div>
    <p class="login-p">
      Already have an account? <a routerLink="../login">Login</a>
    </p>
  </form>
</section>