<div class="gift-cards-container">
  <main>
    <app-initial-section
      [heading]="'Gift Cards'"
      [url]="'../assets/gift-cards/gift-cards.JPG'"
    ></app-initial-section>

    <div class="blue-content-wrapper">
      <section class="section-1">
        <h2>Gift Cards</h2>
        <p>
          Surprise your favorite people with the cozy joy of handcrafted coffee, heartwarming vibes, and delicious treats from Big Fox Coffee. Whether it's a birthday, a thank-you, or just because—our digital gift cards make the perfect thoughtful gesture.
        </p>
        <p>We're in the process of creating new designs</p>
        <p>Because a cup of Big Fox isn’t just a drink—it’s an experience shared. 🦊☕</p>
      </section>
    </div>
    <section class="form-container">
      <div class="form">
        <!-- FORM NAV -->
        <div class="form-nav">
          <button class="submit-btn" routerLink="physical-card" routerLinkActive="activeButton">
            Physical Card
          </button>
          <button class="submit-btn" routerLink="digital-card" routerLinkActive="activeButton" >
            Digital Card
          </button>
        </div>
        <div class="form-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </section>
  </main>
</div>
